<img [src]="imgSrc" alt="picaflor">

<div class="m-5 p-2.5 flex bg-gray-200 w-fit rounded-md">
  <button class="rounded-md border-none bg-blue-400 p-2 m-0.5 w-12 h-12 text-xl cursor-pointer" (click)="sumarUno()" [disabled]="disabledBtn"  >+1</button>
  <div class="min-w-[70px] h-12 flex justify-center items-center text-xl" [ngClass]="textClasses">👍 {{contador}}</div>
</div>
<!-- [ngClass]="{'danger': contador > 10, 'warning': contador > 5 && contador <= 10}  Se puede realizar asi pero sale en la consola, no se recomienda-->

<p>Puntuaciones más altas</p>
<table>
  <tr>
    <th>Nombre</th>
    <th>Puntuación</th>
  </tr>
  <tr *ngFor="let jugador of tablaPuntuaciones">
    <td>{{jugador.nombre}}</td>
    <td>{{jugador.puntuacion}}</td>
  </tr>
</table>
